:root {
    --background-color-primary: #191943;
    --background-color-second: #0e0e20;
    --text-color-primary: #919198;
    --text-color-second: #038e04;
    --text-color-second-accent: #03ab06;
    --text-color-hover: #99ff99;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: "Roboto Mono", monospace;
    font-size: 1.2rem;
}

html, body {
    color: var(--text-color-primary);
    font-weight: bold;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--background-color-second);
}

h1 {
    display: flex;
    justify-content: center;
    margin: 1%;
    color: var(--text-color-second-accent);
    font-weight: bold;
}

header {
    background-color: var(--background-color-primary);
    padding: 1% 3% 1% 3%;
}

.header-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.header-links > a {
    text-decoration: none;
    color: var(--text-color-second);
    padding: 0.5% 1% 0.5% 1%;
    border: 3px solid var(--text-color-second);
}

.header-links > a:hover {
    color: var(--text-color-hover);
    border: 3px solid var(--text-color-hover);
}

section#home > div > p {
    padding: 2% 2% 0 2%;
}

.tutorial-cell a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
    background-color: var(--background-color-primary);
    margin: 1%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.tutorial-cell img {
    max-width: 100%;
    border-radius: 8px;
    max-width: 100px;
    max-height: 100px;
    margin-right: 10%;
    margin-left: 10%;
}

.tutorial-cell p {
    max-width: 50%;
    text-align: left;
}

.tutorial-cell a {
    text-decoration: none;
    color: var(--text-color-second);
}

.tutorial-cell a:hover {
    color: var(--text-color-hover);
    transform: scale(1.05);
}

footer {
    background-color: var(--background-color-primary);
    padding: 1% 3% 1% 3%;
}

.contact-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 50px;
}

.contact-links img {
    max-width: 50px;
    transition: transform 0.3s ease-in-out;
}

.contact-links img:hover {
    transform: scale(1.5);
}

#hamburger {
    display: none;
}

#hamburger-button {
    border: none;
    border-radius: 10%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

#hamburger-button:hover {
    transform: scale(1.2);
}

#hamburger-overlay {
    position: fixed;
    left: 10px;
    bottom: 70px;
    width: 200px;
    height: 50vh;
    background-color: var(--text-color-primary);
    border-radius: 10%;
    opacity: 70%;
}

pre {
    margin-top: 1%;
}

#mascot-img {
    position: fixed;
    bottom: 1%;
    right: 1%;
    width: 100px;
    height: 100px;
    scale: 0.8;
    opacity: 15%;
    transform: translateY(50px);
}

#mascot-img:hover {
    animation: move-upward 0.5s normal forwards ease-in-out; 
}

@keyframes move-upward {
    0%   { opacity:  15%; transform: translateY(50px); }
    100% { opacity: 100%; transform: translateY(-1px); } 
}

#mascot-text {
    position: fixed;
    bottom: 10%;
    right: 5%;
    background-color: black; 
    color: var(--text-color-hover);
    padding: 1%;
    border-radius: 8%;
    opacity: 0%;
    transition: opacity 0.5s ease-in-out;
}

#mascot-img:hover + #mascot-text { 
    opacity: 100%;
}

@media screen and (max-width: 768px) {
    #mascot-img:hover {
        animation: move-upward 0.5s normal forwards ease-in-out; 
        -webkit-animation: move-upward 0.5s normal forwards ease-in-out; 
    }

    .tutorial-cell {
        display: flex;
        justify-content: center;
    }

    .tutorial-cell a {
        padding-left: 20%;
        padding-right: 20%;
    }

    .tutorial-cell:hover {
        transform: scale(1.05);
    }

    section {
        padding: 2%;
    }

    .tutorial-cell p {
        display: none;
    }

    #mascot-text {
        max-width: 70%;
    }

    #contact {
        display: none;
    }

    .contact-links {
        position: fixed;
        display: flex;
        flex-direction: column;
        gap: 50px;
        left: 80px;
        bottom: 220px;
        z-index: 100;
    }

    #hamburger {
        display: block;
    }

    #hamburger-overlay {
        display: none;
    }
}   