:root {
    --background-color-primary: #191943;
    --background-color-second: #0e0e20;
    --text-color-primary: #919198;
    --text-color-second: #038e04;
    --text-color-second-accent: #03ab06;
    --text-color-hover: #99ff99;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html {
    font-family: "Roboto Mono", monospace;
    color: var(--text-color-primary);
}

html::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--background-color-second);
}

h1 {
    display: flex;
    justify-content: center;
    margin: 1%;
    color: var(--text-color-second-accent);
    font-weight: bold;
}

header {
    background-color: var(--background-color-primary);
    padding: 1% 3% 1% 3%;
}

.header-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.header-links > a {
    text-decoration: none;
    color: var(--text-color-second);
    padding: 0.5% 1% 0.5% 1%;
    border: 3px solid var(--text-color-second);
}

.header-links > a:hover {
    color: var(--text-color-hover);
    border: 3px solid var(--text-color-hover);
}

section#home > div > p {
    padding: 2% 2% 0 2%;
}

.tutorial-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
    background-color: var(--background-color-primary);
    margin: 1%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.tutorial-panel:hover {
    transform: scale(1.05);
}

.tutorial-panel img {
    max-width: 100%;
    border-radius: 8px;
    max-width: 100px;
    max-height: 100px;
}

.tutorial-text {
    max-width: 50%;
    text-align: left;
}

.tutorial-text a {
    text-decoration: none;
    color: var(--text-color-second);
}

.tutorial-text a:hover {
    color: var(--text-color-hover);
}

footer {
    background-color: var(--background-color-primary);
    padding: 1% 3% 1% 3%;
}

.contact-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 50px;
}

.contact-links img {
    max-width: 50px;
    transition: transform 0.3s ease-in-out;
}

.contact-links img:hover {
    transform: scale(1.5);
}

pre {
    margin-top: 1%;
}